.widget-content {
  height: 218px;
  border-bottom: 1px solid #D8DDE6; }

.widget-footer {
  height: 30px;
  text-align: left;
  float: left;
  display: flex; }

.widget-footer .more {
  position: relative;
  bottom: 19px;
  right: 30px;
  cursor: pointer; }

.username {
  color: #2B405B;
  font-size: 14px; }

.pb-parent {
  width: 160px;
  height: 10px;
  background: #D8DDE6;
  float: right; }

.percentage {
  width: 20px;
  padding-left: 20px;
  color: #2B405B;
  font-size: 16px;
  font-weight: bold; }

.pb-child {
  height: 10px;
  background: #51BE71; }

.widget-footer > * {
  display: inline; }

.widget-footer img {
  cursor: pointer; }

.widget-footer img:nth-of-type(2) {
  position: relative;
  left: -15px; }

.widget-footer img:nth-of-type(3) {
  position: relative;
  left: -30px; }

.widget-footer p {
  color: #77909D;
  font-size: 14px; }

.widget-footer span {
  color: #657FAC;
  background: rgba(101, 127, 172, 0.1);
  font-size: 10px;
  height: 18px;
  width: 52px;
  border-radius: 3px;
  padding: 4px 5px; }

.widget-footer .icons {
  position: relative;
  bottom: 9px; }

table {
  width: 100%;
  padding-right: 10px; }

.widget-drop {
  display: none;
  position: relative; }

.widget-drop.expanded {
  display: inline; }
