.widget-names-left {
  width: 50%;
  display: table-cell;
  color: white;
  text-align: left; }

.widget-progress-right {
  width: 50%;
  display: table-cell;
  text-align: right; }

.widget-footer span.spanWidget {
  padding: 1px;
  color: #fff;
  padding: 0px 4px;
  border-radius: 50px; }

.dropdown-names {
  display: table;
  padding: 5px;
  width: 100%; }
