$menu-font: Helvetica, sans-serif;
$menu-main-color: #2B405B;
$menu-hover-color: #657FAC;

.Header {
    font-family: $menu-font;
    .Header-topbar {
        box-sizing: border-box;	
        height: 72px;	
        width: 100%;
        border: 1px solid #D8DDE6;	
        background-color: #FFFFFF;
    }
    .Header-logo {
        display: block;
        float: left;
        margin-top: 14px;
        margin-left: 21px;
    }
    .Header-menu-items {
        display: block;
        float: left;
        top: 24px;
        left: 111px;
        ul {
            list-style-type: none;
            text-align: left;
            margin-top: 24px;
            overflow: hidden;
        }
        li {
            float: left;
        }
        li a {
            display: block;
            color: $menu-main-color;
            text-align: center;
            margin-left: 0;
            margin-right: 43px;
            //font-family: Roboto;
            font-size: 18px;	
            font-weight: 500;	
            line-height: 21px;
            text-decoration: none;
        }
        li a:hover {
            color: $menu-hover-color;
            border-bottom: solid 2px $menu-hover-color;
            padding-bottom: 24px;
        }
    }
    .Header-menu-icon {
        display: none;
        float: left;
        margin-top: 14px;
    }
    .Header-right {
        box-sizing: border-box;
        display: block;
        float: right;
        margin-top: 18px;
        img {
            margin-left: 0;
            margin-right: 25px;
        }
    }
    .personShaped, .okiconShaped {
        box-sizing: border-box;	
        height: 37px;	
        width: 37px;	
        border: 1px solid #A8B7C7;	
        border-radius: 4px;
    }
    .shape1Shaped, .shape2Shaped, .shape3Shaped, .personShaped, .okShaped, .verticalShaped {
        vertical-align: middle;
    }
    .okShaped {
        margin-right: 0 !important;       
    }
    .iconResponsive {
        box-sizing: border-box;	
        margin-top: 0;
        border: solid #dc6c37 2px;
        border-radius: 4px;
    }
    @media only screen and (max-width: 1028px) {
        .Header-menu-icon {
            display: block;
            float: right;
            margin-right: 21px;
            margin-top: 18px;
        }
        .Header-menu-items {
            display: none;
            position: absolute;
            text-align: center;
            z-index: 10;
            background-color: #dc6c37;
            left: 0;
            top: 70px;
            width: 100%;
            ul {
                list-style-type: none;
            }
            li {
                width: 100%;
            }
            li a {
                color: white;
                font-size: 15px;
                line-height: 40px;
                text-decoration: none;
            }
            li a:hover {
                color: black;
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .Header-menu-items.Header-menu-items-down {
        display: block;
    }
}

